<!DOCTYPE html>
<html lang="en">
<head>
  <title>About</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <!--link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'-->
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- navbar -->
    <%- include('partials/navbar') %>
    <!--navbar end-->
    <%- include('partials/sidenav') %>
    
    
    <div class="about-paragraph pt-5 mx-auto" style="margin-top: 60px;">
        <h6>What is Regenerative Farming?</h6>
    </div>
    <div class="about-paragraph mx-auto">
        <p>
            <img class="about-page-picture" src="/images/regenerative-agriculture.jpg" alt="regenerative agriculture">
            Regenerative farming is a type of farming that focuses on the interconnection of farming systems and the ecological system. 
            Regenerative farming practices are based on pre-modern farming principles that work with the world's natural systems instead 
            of against them. It focuses on bringing nutrients and biodiversity back into the soil by the use of cover crops, grazing animals, and no-till practices.
        </p>
    </div>

    <div class="about-paragraph pt-5 mx-auto">
        <h6>Common Regenerative Farming Practices</h6>
    </div>
    <div class="about-paragraph mx-auto">
        <p>Regnerative farming practices range from beginner to very advanced. Finding the right practices for you 
            and your farm or garden can be beneficial for your soil. 
        </p>
        <p>For beginners, practices can include: 
            <ul style="list-style-position: inside">
                <li>Using cover crops</li>
                <li>Reducing tilling</li>
                <li>Rotating crops</li>
                <li>Spreading compost</li>
                <li>Not using synthetic fertilizers/pesticides/herbicides</li>
              </ul>
        </p>
        <p>More advanced practices may include: 
            <ul style="list-style-position: inside">
                <li>Integrating animals and crops</li>
                <li>Silvopasture: The combination of trees, forage plants and livestock as a manage system.</li>
                <li>Agroforestry: The reforestation of trees and tree crops on farms.</li>
                <li>Multi-paddock grazing: The use of high livestock densities for short periods of time between long periods for the land to rest.</li>
                <li>Growing multi-species cover crops</li>
              </ul>
        </p>
    </div>

    <div class="about-paragraph pt-5 mx-auto">
        <h6>Benefits of Regenerative Farming</h6>
    </div>
    <div class="about-paragraph mx-auto">
        <p>As we dive deeper into the climate crisis the world is understanding the importance
            of agriculture and its environmental effect. Regenerative farming helps combat climate 
            change. Examples of regenerative farming benefits include:  
            <ul style="list-style-position: inside">
                <li>It rebuilds top soil</li>
                <li>Increases farming productivity</li>
                <li>Provides global food security</li>
                <li>Decreases carbon in the air</li>
                <li>Improves wildlife and plant habitats</li>
                <li>Increases the lands ability to filter and retain water</li>
              </ul>
        </p>
        </div>
    </div>
    

</body>
</html>