<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cover Crops</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <!--link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'-->
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- navbar -->
    <%- include('partials/navbar') %>
    <!--navbar end-->
    <%- include('partials/sidenav') %>

    <div class="content" style="padding-bottom: 50px">
        <div class="about-paragraph pt-5 mx-auto">
            <h2>Cover Crops</h2>
        </div>
        <div class="about-paragraph pt-5 mx-auto">
           <p>Cover crops are an important aspect of regenerative agriculture and can be seen as an investment in your soil's health.
                Some of the benefits to using cover crops include:
           </p>
           <ul class="terms-ul">
               <li>
                   Improving overall soil health
               </li>
               <li>
                   Slowing erosion
               </li>
               <li>
                   Water retention
               </li>
               <li>
                   Weed prevention
               </li>
               <li>
                   Pest and disease control
               </li>
               <li>
                   Attract pollinators
               </li>
               <li>
                   Increase biodiversity
               </li>
               <li>
                   Can increase yield
               </li>
            </ul>
            <p>There are four classes of cover crops:</p>
            <ul class="terms-ul">
                <li>Grasses</li>
                <li>Legumes</li>
                <li>Brassicas</li>
                <li>Non-legume Broadleaves</li>
            </ul>

            <h6>
                Grasses
            </h6>
            <p>Grasses are a good option if there is nitrogen leftover in the soil and you want to add organic matter to the soil 
                for the next crop. They also leave more carbon in the soil which is good for keeping weeds at bay.
                Examples of grasses are ryegrass and barley.
            </p>

            <h6>Legumes</h6>
            <p>Legume cover crops are a good option for fixing nitrogen levels in the soil, which will allow you to reduce or
                 eliminate fertilizer. Where grasses are high in carbon and low in nitrogen, legumes are high in nitrogen and
                  low in carbon. Legumes are also not as good for controlling weeds as grasses. Examples of 
                  legumes are alfalfa and clover.
            </p>

            <h6>Brassicas</h6>
            <p>Brassicas are good for reducing fall erosion, as they grow rapidly in the fall. They are also good 
                for pest control as most release natural chemicals that can be toxic to harmful pathogens and pests. 
                Examples of brassicas are radishes and turnips.
            </p>
            <h6>
                Non-legume Broadleaves
            </h6>
            <p>Non-legume broadleaves are useful for scavenging nitrogen and adding carbon to the soil like grasses, and 
                also suppress weeds and erosion. Examples of non-legume broadleaves are spinach and flax.
            </p>
        </div>
    </div>

</body>
</html>