<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">


    <!--- temporary stylesheet because regular html looks ugly -->
    <!--link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    /-->
    <title>Document</title>
    
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    

    <!-- navbar -->
    <%- include('partials/navbar') %>
    <!--navbar end-->

    <!--- begin page content -->

    

    <div class="content-no-sidenav">
        <div class="mx-auto pt-5" style="width: 200px;">
            <h2>Login</h2>
        </div>
        
        <div class="mx-auto login-form" style="width: 200px;">
            <!--- <ul>s are for success and failure messages defined in server.js -->
            <ul class="login-form-nonerrors">
                <% if(messages.success_msg) { %>
                <li><%= messages.success_msg %></li>
                <% } %>
            </ul>

            <ul class="login-form-errors">
                <% if(messages.error ) { %>
                <li><%= messages.error %> </li>
                <% } %>
            </ul>
        </div>

        <img class="mke-circle" src="/images/1200px-University_of_Wisconsin–Milwaukee_seal.svg.png" alt="regenerative agriculture">

        <div class="mx-auto form-group" style="width: 200px;">
            <form action="/users/login" class="login-form" method="POST">
                <div class="pt-2 bottom-form">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email" required />
                </div>
                <div class="pt-2 bottom-form">
                    <label for="password">Password</label>
                    <input type="password" class="form-control"id="password" name="password" placeholder="Password" required />
                </div>
                <div class="pt-2 bottom-form">
                    <input type="submit" class="btn btn-success btn-block" value="Login" />
                </div>

                <a href="/users/register" class="register-text">Register</a>
            </form>
        </div>
    </div> <!--end content div-->

</body>
</html>