<!DOCTYPE html>
<html lang="en">
<head>
  <title>Resources</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- navbar -->
    <%- include('partials/navbar') %>
    <!--navbar end-->
    <%- include('partials/sidenav') %>
    <div class='content' style="padding-bottom: 50px; margin-left: 250px">
      <div class="resources-paragraph pt-5">
          <h2>Resources</h2>
      </div>

      <p>Here are a list of helpful resources to help you get started with regenerative farming practices.</p>

      <div class="resources-paragraph pt-5"> 
        <p>Regenerative Farming, what is it?</p>
      </div>
      <a href="https://regenerationinternational.org/wp-content/uploads/2017/02/Regen-Ag-Definition-2.23.17-1.pdf">regenerationinternational.org</a>

      <hr class="solid">

      <p>About Cover Crops:</p>
      <a href="https://www.nrcs.usda.gov/wps/portal/nrcs/detail/ny/technical/?cid=nrcs144p2_027252#:~:text=A%20cover%20crop%20slows%20the,holding%20capacity%20for%20plant%20growth.">nrcs.usda.gov</a>
      <a href="https://www.sare.org/resources/cover-crops/">sare.org</a>
      <a href="https://www.cropnutrition.com/resource-library/cover-crops-type-makes-a-difference">cropnutrition.com</a>

      <hr class="solid">

      <p>The Purpose of Mobile Animal Shelters:</p>
      <a href="https://www.walkinginhighcotton.net/2018/06/mobile-livestock-shelters-small-farm/">walkinginhighcotton.net</a>

      <hr class="solid">

      <p>Soil Quality Indicator Sheets:</p>
      <a href="https://www.nrcs.usda.gov/wps/portal/nrcs/detail/soils/health/assessment/?cid=stelprdb1237387">nrcs.usda.gov</a>

      <hr class="solid">

      <p>Test Kit Guide:</p>
      <a href="https://efotg.sc.egov.usda.gov/references/public/WI/Soil_Quality_Test_Kit_Guide.pdf">efotg.sc.egov.usda.gov</a>

      <hr class="solid">

      <p>The Benefits of No-till Practices on Soil Erosion:</p>
      <a href="https://www.sciencedaily.com/releases/2021/01/210112173803.htm">sciencedaily.com</a>
    </div>
</body>
</html>