<!DOCTYPE html>
<html lang="en">
<head>
  <title>Soil Terms</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/sidenav.css">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- navbar -->
    <%- include('partials/navbar') %>
    <!--navbar end-->

    <!--go to https://boxicons.com to find icons and click where it says fonts for the <i class=''></i> (icon)-->
    <%- include('partials/sidenav') %>

    <div class="content" style="padding-bottom: 50px">
        <div class="terms-info pt-5 mx-auto">
            <h2>Soil Terminology Explained</h2>
        </div>
        <div class="terms-info sub-heading pt-5 mx-auto" id="physical-properties">
            <h4>Physical Properties
                <img class="physical-img" src="/images/soil.jpg" alt="soil">
            </h4>
        </div>

        <a class="anchor" id="bulk-density-anchor"></a>
        <div class="terms-info pt-5 mx-auto" id="bulk-density">
            <h6>Bulk Density</h6>
        </div>
        <div class="terms-info mx-auto">
            <p>
                <p>
                Bulk density is an indicator of soil compaction. It is calculated as the dry weight of soil 
                divided by its volume. This volume includes the volume of soil particles and the volume of 
                pores among soil particles. It is typically expressed in g/cm3. Bulk density is dependent on 
                soil texture and the densities of soil mineral (sand, silt, and clay) and organic matter 
                particles, as well as their packing arrangement. Bulk density typically increases with soil 
                depth since subsurface layers have reduced organic matter, aggregation, and root penetration 
                compared to surface layers and therefore, contain less pore space. Subsurface layers are also 
                subject to the compacting weight of the soil above them.
                </p>
                <p>
                Bulk density reflects the soil’s ability to function for structural support, water and solute 
                movement, and soil aeration. High bulk density is an indicator of low soil porosity and soil 
                compaction. It may cause restrictions to root growth, and poor movement of air and water through 
                the soil. Compaction can result in shallow plant rooting and poor plant growth, influencing crop 
                yield and reducing vegetative cover available to protect soil from erosion.
                </p>
                <p>
                Some practices can lead to poor bulk density such as consistently plowing, allowing equipment 
                traffic, especially on wet soil, using a limited crop rotation without variability in root 
                structure or rooting depth, and incorporating, burning, or removing crop residues.
                </p>
                <p>
                To reduce the likelihood of high bulk density and compaction you can minimize soil disturbance 
                and production activities when soils are wet, use designated field roads or rows for equipment 
                traffic, and reduce the number of trips across the area.
                </p>
            </p>
        </div>

        <a class="anchor" id="infiltration-anchor"></a>
        <div class="terms-info pt-5 mx-auto" id="infiltration">
            <h6>Infiltration</h6>
        </div>
        <div class="terms-info mx-auto">
            <p>
                <p>
                Infiltration is the downward entry of water into the soil. Infiltration rate is expressed in 
                inches per hour. Rainwater must first enter the soil for it to be of value. Water moves more 
                quickly through the large pores of a sandy soil compared to slower movement through a clay soil 
                with small pores. Infiltration is an indicator of the soil’s ability to allow water movement into
                and through the soil profile. Soil temporarily stores water, making it available for root uptake, 
                plant growth and habitat for soil organisms. Without the protective benefits of vegetative or 
                residue cover, bare soil is subjected to the direct impact and erosive forces of raindrops that 
                dislodge soil particles. Dislodged soil particles fill in and block surface pores, contributing 
                to the development of surface crusts that restrict water movement into the soil.
                </p>
                <p>
                Farming practices that lead to poor infiltration include incorporating, burning, or harvesting 
                crop residues leaving soil bare and susceptible to erosion and tillage methods.
                <p>
                Best management practices to improve soil infiltration include: reduced tillage, avoid soil 
                compaction, crop rotation, and keeping the soil covered with residue and cover crops. A soil 
                with good infiltration can utilize and store plant available water and reduce water runoff 
                which causes flooding.
                </p>
                <p>
                Available water-supplying capacity is designated as inches of water per inch of soil, or as a 
                percent by weight. This water is available to plants when root development and aeration are 
                adequate for optimum plant growth. An acre inch of water is approximately 27,000 gallons. 
                Soils have available water capacities of from 4 to 8 inches in 4 feet of soil.
                </p>
                </p>
            </p>
        </div>

        <a class="anchor" id="slaking-anchor"></a>
        <div class="terms-info pt-5 mx-auto" id="slaking">
            <h6>Slaking</h6>
        </div>
        <div class="terms-info mx-auto">
            <p>
                <p>
                Slaking is the breakdown of large, air-dry soil aggregates (>2-5 mm) into smaller sized 
                microaggregates when they are suddenly immersed in water. Slaking occurs when 
                aggregates are not strong enough to withstand internal stresses caused by rapid water uptake. 
                Internal stresses result from differential swelling of clay particles, trapped and escaping 
                air in soil pores, rapid release of heat during wetting, and the mechanical action of moving 
                water.
                </p>
                <p>
                Slaking is affected by wetting rate, soil water content, soil texture, type of clay, and 
                organic matter. Slaking is increased by fast wetting rates, particularly when soil is 
                initially dry. Moist aggregates slake less readily than air-dry aggregates because they 
                have already completed some or all of their swelling and some pores are already filled 
                with water. The pressure of entrapped air is the primary factor for causing slaking of 
                loamy soils, while clay is associated with slaking caused by soil swelling.
                </p>
                <p>
                Slaked soil particles block soil pores, form a soil crust, reduce infiltration and water 
                movement through soil, and increase runoff and erosion.
                </p>
                <p>
                Conservation tillage systems, such as no-till, reduce slaking by reducing soil disturbing 
                activities that break aggregates apart and accelerate decomposition of organic matter. 
                No-till and residue management lead to increased soil organic matter and improved aggregate 
                stability and soil structure, particularly when cover crops or sod-based rotations provide 
                an additional source of residue. 
                </p>
            </p>
        </div>

        <div class="terms-info pt-5 mx-auto" id="soil-crusts">
            <h6>Soil Crusts</h6>
        </div>
        <div class="terms-info mx-auto">
            <p>
                Soil crusts are relatively thin, continuous layers of the soil surface that
                 restrict water movement, air entry, and seedling emergence from the soil.
                 Soil crusts are represented by their thickness and strength.
            </p>
        </div>

        <a class="anchor" id="macropores-anchor"></a>
        <div class="terms-info pt-5 mx-auto" id="macropores">
            <h6>Soil Structure and Macropores</h6>
        </div>
        <div class="terms-info mx-auto">
            <p>
                Soil structures are the combination of core minerals of soil like sand, silt and clay particles.
                 Soil structures affect water and air movement through soil, greatly influencing soil’s ability
                  to sustain life and perform other vital soil functions
            </p>
        </div>


        <div class="terms-info sub-heading pt-5 mx-auto" id="chemical-properties">
            <h4>Chemical Properties

                <img class="physical-img" src="/images/chemicals.jpg" alt="chemical picture">
            </h4>
        </div>

        <div class="terms-info pt-5 mx-auto">
            <h6>Reactive Carbon</h6>
        </div>
        <div class="terms-info mx-auto">
            <p>
                <p>
                Soil respiration refers to the production of carbon dioxide when soil organisms respire. 
                This includes respiration of plant roots, the rhizosphere, microbes and fauna. Soil 
                respiration is a key ecosystem process that releases carbon from the soil in the form of CO2. 
                CO2 is acquired by plants from the atmosphere and converted into organic compounds in the 
                process of photosynthesis.
                </p>
                <p>
                The amount of soil respiration that occurs in an ecosystem is controlled by several factors. 
                The temperature, moisture, nutrient content and level of oxygen in the soil can produce extremely 
                disparate rates of respiration.
                </p>
                <p>
                All cellular respiration releases energy, water and CO2 from organic compounds. Any 
                respiration that occurs below-ground is considered soil respiration. Respiration by plant roots, 
                bacteria, fungi and soil animals all release CO2 in soils. Regulation of CO2 production in soil 
                is due to various abiotic, or nonliving, factors. Temperature, soil moisture and nitrogen all 
                contribute to the rate of respiration in soil.
                </p>
                <p>
                Soil respiration plays a significant role in the global carbon and nutrient cycles as well as 
                being a driver for changes in climate. These roles are important to our understanding of the 
                natural world and human preservation.
                </p>
                <p>
                Soil organic carbon tends to be concentrated in the topsoil. Topsoil ranges from 0.5% to 3.0% 
                organic carbon for most upland soils. Soils with less than 0.5% organic C are mostly limited 
                to desert areas. Soils containing greater than 12 - 18% organic carbon are generally classified 
                as organic soils.
                </p>
            </p>
        </div>

        <a class="anchor" id="conductivity-anchor"></a>
        <div class="terms-info pt-5 mx-auto" id="conductivity">
            <h6>Soil Electrical Conductivity</h6>
        </div>
        <div class="terms-info mx-auto">
            <p>
                <p>
                Soil electrical conductivity (EC) is a measure of the amount of salts in soil (salinity of 
                soil). It is an important indicator of soil health. It affects crop yields, crop suitability, 
                plant nutrient availability, and activity of soil microorganisms which influence key soil 
                processes including the emission of greenhouse gases such as nitrogen oxides, methane, and 
                carbon dioxide. EC is the ability of a material to conduct an electrical current and it 
                commonly is expressed as dS/m or millimhos/centimeter (mmhos/cm). One dS/m = 1 mmhos/cm. 
                Soil EC is inversely proportional to the electrical resistance in soil solution. EC is 
                measured by passing an electrical current through the soil solution. Water-soluble salts 
                in the solution enhance the transfer of electric current (electric conductance).
                </p>
                <p>
                EC readings less than 1 dS/m, soil are considered non-saline and do not impact most crops 
                and soil microbial processes. EC readings greater than 1 dS/m, are considered saline and 
                impact important microbial processes, such as nitrogen cycling, production of nitrous and 
                other N oxide gases, respiration, and decomposition; populations of plant-parasitic nematodes
                can increase; and increased nitrogen losses. 
                </p>
            </p>
        </div>
        
        <a class="anchor" id="nitrates-anchor"></a>
        <div class="terms-info pt-5 mx-auto" id="nitrates">
            <h6>Soil Nitrogen</h6>
        </div>
        <div class="terms-info mx-auto">
            <p>
                <p>
                Nitrogen (N) is the most abundant element in the atmosphere and is usually the most limiting 
                crop nutrient. Nitrate (NO3) serves as a source of nitrogen for the nutrition and growth of 
                plants and microorganisms. Nitrogen is added to soil naturally from N fixation by soil 
                bacteria and legumes and through atmospheric deposition in rainfall. Additional N is 
                typically supplied to the crop by fertilizers, manure, or other organic materials. 
                </p>
                <p>
                In general, a concentration range of 10—50 mg/kg is good.
                </p>
                <p>
                Because nitrogen is the primary ingredient responsible for plant growth, lack of nitrogen 
                is typically noticed when plants are young, allowing you to correct the problem early. 
                Without adequate nitrogen, plant growth is likely to be slow with weak spindly stems and 
                small leaves. Seedlings may fail to increase in size as they age and may appear stunted. 
                Root systems are weak and may not support the growing plants.
                </p>
                <p>
                To correct a nitrogen deficiency using organic methods requires time, but will result in a 
                more even distribution of the added nitrogen over time. Some organic methods of adding 
                nitrogen to the soil include adding composted manure to the soil or planting a green manure 
                crop, such as borage.
                </p>
            </p>
        </div>

        <a class="anchor" id="phosphorous-anchor"></a>
        <div class="terms-info pt-5 mx-auto" id="phosphorus">
            <h6>Soil Phosphorus</h6>
        </div>
        <div class="terms-info mx-auto">
            <p>
                <p>
                The buildup of phosphorus in lawns, gardens, pastures and croplands can cause plants to grow 
                poorly and even die. Excessive soil phosphorus reduces the plant’s ability to take up required 
                micronutrients, particularly iron and zinc, even when soil tests show there are adequate 
                amounts of those nutrients in the soil. Phosphorus buildup is caused by excessive use of 
                inorganic fertilizer or the use of composts and manures high in phosphorus. High soil 
                phosphorus levels also can threaten streams, rivers, lakes and oceans. Phosphorus can become 
                water-soluble and mobile, entering surface waters and causing algae and other undesirable 
                plants to grow. This reduces water quality and desirable fish and aquatic plants.
                </p>
                <p>
                Most problems related to excessive phosphorus can be avoided by conducting soil tests and 
                using proper fertilization. Manure and composts should be applied judiciously. Annual soil 
                testing to monitor soil phosphorus levels is recommended.
                </p>
                <p>
                To correct problems caused by excessive soil phosphorus, begin by avoiding future 
                phosphorus applications. This includes eliminating organic composts and manures. If organic 
                nitrogen sources or mulches are needed, use very low phosphorus products such as blood meal 
                or pine bark mulch.
                </p>
            </p>
        </div>

        <a class="anchor" id="potassium-anchor"></a>
        <div class="terms-info pt-5 mx-auto" id="potassium">
            <h6>Soil Potassium</h6>
        </div>
        <div class="terms-info mx-auto">
            <p>
                <p>
                Potassium (K) is an essential nutrient for plant growth. It’s classified as a macronutrient 
                because plants take up large quantities of K during their life cycle. Potassium is associated 
                with the movement of water, nutrients and carbohydrates in plant tissue. It’s involved with 
                enzyme activation within the plant, which affects protein, starch and adenosine triphosphate 
                (ATP) production. The production of ATP can regulate the rate of photosynthesis. It also helps 
                regulate the opening and closing of the stomata, which regulates the exchange of water vapor, 
                oxygen and carbon dioxide. If K is deficient or not supplied in adequate amounts, it stunts 
                plant growth and reduces yield. 
                </p>
                <p>
                While the supply of total K in soils is quite large, relatively small amounts are available 
                for plant growth at any one time. That’s because nearly all of this K is in the structural 
                component of soil minerals and isn’t available for plant growth.
                </p>
            </p>
        </div>

        <a class="anchor" id="ph-anchor"></a>
        <div class="terms-info pt-5 mx-auto" id="ph">
            <h6>Soil pH</h6>
        </div>
        <div class="terms-info mx-auto">
            <p>
                Soil pH is the measure of acidity and the basicity of soil.
                 Having the correct pH is important for healthy plant growth.
                  It affects plant nutrient availability by controlling the chemical forms of the
                   different nutrients and influencing the chemical reactions they undergo. 
                   Most soils have pH values between 3.5 and 10. In higher rainfall areas the natural pH 
                   of soils typically ranges from 5 to 7, while in drier areas the range is 6.5 to 9. 
                   Soils can be classified according to their pH value:
            </p>

            <ul class="terms-ul">
                <li>6.5 to 7.5 - neutral</li>
                <li>over 7.5 - alkaline</li>
                <li>less than 6.5 - acidic</li>
                <li>less than 5.5 are considered strongly acidic.</li>
            </ul>

            <p>
                Soil pH affects the amount of nutrients and chemicals that are soluble in soil water,
                 and therefore the amount of nutrients available to plants.
                  The development of strongly acidic soils (less than 5.5 pH) can result in poor plant growth.
                   The correct balance is where the soil pH is between 5.5 and 7.5. 
            </p>
            <p>
                Some fertilizers can help change your soil's pH level depending on whether you want to raise or lower it.
                 Here are some options and tips as to how you can help your soil neutralize. 
            </p>
            <p>
                Soil acidity can be corrected easily by liming the soil, 
                or adding basic materials to neutralize the acid present.
                 The most used liming material is agricultural limestone.
                  It is not very water soluble which makes it easier to handle. 
                  How it works is that when the lime dissolves into the soil,
                   calcium moves to the surface of soil particles, replacing the acidity.
                    The acidity reacts with the carbonate to form carbon dioxide and water. 
                    The result is a soil that is less acidic meaning the pH is higher.
            </p>
            <p>
                If your soil is alkaline, you can lower your soil’s pH or make it more acidic
                 by using several products such as: sphagnum peat, elemental sulfur, and organic mulches.
                  Alkaline building materials, such as limestone gravel and concrete, 
                  and high pH irrigation water may also contribute to a soil's alkalinity.
            </p>
        </div>



        <div class="terms-info sub-heading pt-5 mx-auto" id="biological-properties">
            <h4>Biological Properties

                <img class="physical-img" src="/images/worms.jpg" alt="worms">
            </h4>
        </div>

        <a class="anchor" id="earthworms-anchor"></a>
        <div class="terms-info pt-5 mx-auto" id="earthworms">
            <h6>Earthworms</h6>
        </div>
        <div class="terms-info mx-auto">
            <p>
                <p>
                Earthworms increase soil aeration, infiltration, structure, nutrient cycling, water movement, 
                and plant growth. Earthworms are one of the major decomposers of organic matter. They get 
                their nutrition from microorganisms that live on organic matter and in soil material. When 
                they move through the soil, earthworms form tubular channels or burrows. These burrows 
                increase soil porosity which increases the amount of air and water that get into the soil. 
                Increased porosity also lowers bulk density and increases root development. Earthworm 
                excrement or casts increase soil fertility because it contains nitrogen, phosphorus, 
                potassium, and magnesium. The casts also contain microorganisms which increase in abundance 
                as organic matter is digested in their intestines. The cycling of nutrients from organic 
                matter and the increase in microorganisms facilitates plant growth. Earthworm casts along 
                with binding agents released by earthworms also improve soil structure and increase 
                aggregate stability.
                </p>
                <p>
                No-till and other conservation practices that increase plant residue and soil structure 
                create ideal conditions that improve earthworm habitat. Having an abundance of earthworms 
                is a good indicator of soil health.
                </p>
                <p>
                A square yard of cropland in the United States can contain from 50-300 earthworms, or even 
                larger populations in highly organic soils.
                </p>
            </p>
        </div>

        <div class="terms-info pt-5 mx-auto" id="pom">
            <h6>Particulate Organic Matter</h6>
        </div>
        <div class="terms-info mx-auto">
            <p>
                POM refers to all soil organic matter particles less than 2 mm and greater than
                 0.053 mm in size. They are a source of food/energy for microorganisms and soil animals
                  as well as nutrients for plant growth. They increase aggregate stability, water infiltration, and soil aeration.
            </p>
        </div>

        <div class="terms-info pt-5 mx-auto" id="pmn">
            <h6>Potentially Mineralizable Nitrogen</h6>
        </div>
        <div class="terms-info mx-auto">
            <p>
                PMN is the fraction of organic nitrogen converted to plant-available forms
                 under specific conditions of temperature, moisture, aeration, and time.
                 PMN originates mainly from microbial biomass and plant and animal tissues.
                 PMN can be a source of available nitrogen microbial growth in soil.
            </p>
        </div>

        <div class="terms-info pt-5 mx-auto" id="soil-enzymes">
            <h6>Soil Enzymes</h6>
        </div>
        <div class="terms-info mx-auto">
            <p>
                Soil enzymes increase the reaction rate at which plant residues decompose and release
                plant-available nutrients. Sources of soil enzymes include living and dead microbes,
                plant roots and residues, and soil animals. Enzymes play an important role in
                organic matter decomposition and nutrient cycling.
            </p>
            <p>
                Absence or suppression of soil enzymes prevents or reduces processes that can affect plant 
                nutrition. Poor enzyme activity (ex. pesticide degrading enzymes) can result in an 
                accumulation of chemicals that are harmful to the environment; some of these chemicals 
                may further inhibit soil enzyme activity.
            </p>
            <p>
                Organic amendment applications, crop rotation, and cover crops have been shown 
                to enhance enzyme activity. The positive effect of pasture is associated with 
                the input of animal manure and less soil disturbance. Agricultural methods that modify 
                soil pH (ex. liming) can also change enzyme activity.
            </p>
        </div>

        <div class="terms-info pt-5 mx-auto" id="soil-respiration">
            <h6>Soil Respiration</h6>
        </div>
        <div class="terms-info mx-auto">
            <p>
                Soil respiration is a measure of the carbon dioxide released from soil. It is
                released as a result of decomposition of soil organic matter (SOM) and plant litter by
                soil microbes and through plant roots and soil fauna. It is an important indicator of soil
                health because it measures the level of microbial activity and the content and
                decomposition of SOM. It also reflects the condition of the physical and chemical
                environment of a soil. In the short term, a high rate of soil respiration is not necessarily
                desirable; it may indicate an unstable soil system and loss of SOM from excessive
                tillage or other factors.
            </p>
        </div>

    </div><!--end content div-->

</body>
</html>